*{
    margin: 0px;
    padding: 0px;
}

 .maincontainer{
    background-color: hsl(186, 13%, 45%);
    width: 100%;
    
 }

.menu-icon{
    position: absolute;
    color: black;
    cursor:pointer;
    margin-left: 30px;
    margin-top: 10px;
}

.menu-icon {
    color: #121212;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color:hwb(203 40% 52%);
    color: white;
    padding: 20px;
   
}

.sidebar ul {
    list-style: none;
    padding: 0;
    font-size: 30px;
}
.sidebar li {
    margin: 10px 0;
    cursor: pointer;
}
.sidebar ul li{
    margin-right: 70px;
    margin-top: 50px;
}
.sidebar ul li{
    position:relative;
    border-radius: 10px;
    transform: 1s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: white;
    
}
.close-icon:hover{
    background-color: #3cb2f1;
    border-radius: 10px;
    transform: 1s;
}

.sidebar {
    width: 250px;
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  }
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 180px;
    }
  
    .menu-icon svg,
    .close-icon svg {
      font-size: 30px ;
    }
  }
  